<launch>
  <node pkg="ltu_actor_route_blob" type="blob" name="blob">
    <param name="input" value="/cam_repub/image_raw" />
  </node>

  <node pkg="sign_detection" type="stop_sign_detection" name="stop_sign">
    <param name="camera_topic" value="/camera/image_raw" />
    <param name="cascade_path" type="string" value="/home/mpleune/LTU-Actor/src/Route-StopSign/classifiers/stop_sign.xml" />
  </node>

  <node pkg="ltu_actor_route_obstacle" type="region" name="region">
      <param name="input" value="/velodyne_points" />
  </node>

  <include file="$(find ltu_actor_route_waypoint)/launch/waypoint.launch">
    <arg name="accumulate" value="0.0" />
    <arg name="mult_accumulate" value="0.0" />
    <arg name="mult" value="0.5" />
    <arg name="speed" value="1.5" />
    <arg name="reverse" value="false" />
    <arg name="gps_fix" value="/piksi/navsatfix_best_fix" />
    <arg name="gps_vel_ned" value="/piksi/vel_ned" />
  </include>

  <include file="$(find ltu_actor_core)/launch/core.launch">
    <arg name="rosbridge_port" value="8090" />
    <arg name="http_video_port" value="8091" />
    <arg name="script_folder" value="$(find ltu_actor_vehicle_gem)/routes" />
    <arg name="estop_service" value="/estop/stop" />
    <arg name="navsatfix_topic" value="/piksi/navsatfix_best_fix" />
  </include>
</launch>
