<launch>
  <node pkg="ltu_actor_route_blob" type="blob" name="blob">
    <param name="input" value="/cam_repub/image_raw" />
  </node>

  <node pkg="ltu_actor_route_sign_detection" type="stop_sign_detection" name="stop_sign_detection" output="screen">
    <param name="camera_topic" type="string" value="/camera/image_raw" />
    <param name="cascade_path" type="string" value="$(find ltu_actor_route_sign_detection)/classifiers/stop_sign.xml" />
  </node>

  <node pkg="ltu_actor_route_obstacle" type="region" name="region" output="screen">
      <param name="sub_topic" value="/lidar/vh_wm_points" />
  </node>

  <include file="$(find ltu_actor_route_waypoint)/launch/waypoint.launch">
    <arg name="accumulate" value="0.0" />
    <arg name="mult_accumulate" value="0.0" />
    <arg name="mult" value="0.5" />
    <arg name="speed" value="1.5" />
    <arg name="reverse" value="false" />
    <arg name="gps_fix" value="/piksi/navsatfix_best_fix" />
    <arg name="gps_vel_ned" value="/piksi/vel_ned" />
  </include>

  <include file="$(find ltu_actor_core)/launch/core.launch">
    <arg name="rosbridge_port" value="8090" />
    <arg name="http_video_port" value="8091" />
    <arg name="script_folder" value="$(find ltu_actor_vehicle_gem)/routes" />
    <arg name="estop_service" value="/estop/stop" />
    <arg name="navsatfix_topic" value="/piksi/navsatfix_best_fix" />
  </include>

    <node pkg="ltu_actor_inputprocess_camadjust" name="cam_repub_sunny" type="cam_repub">
	<param name="topic_name" type="string" value="sunny" />
	<param name="cam_topic" type="string" value="/camera/image_raw" />
	<param name="resize" type="double" value="1" />
	<param name="enable_clahe" type="bool" value="False" />
	<param name="clahe_clip" type="int" value="2" />
	<param name="enable_color_correct" type="bool" value="False" />
	<param name="cc_alpha" type="double" value="1" />
	<param name="cc_beta" type="double" value="0" />
	<param name="enable_sharpen" type="bool" value="False" />
	<param name="sharp_weight" type="double" value="0.5" />
	<param name="sharp_kernel" type="int" value="1" />
    
    </node> 

    <node pkg="ltu_actor_inputprocess_camadjust" name="cam_repub_cloudy" type="cam_repub">
	<param name="topic_name" type="string" value="cloudy" />
	<param name="cam_topic" type="string" value="/camera/image_raw" />
	<param name="resize" type="double" value="1" />
	<param name="enable_clahe" type="bool" value="False" />
	<param name="clahe_clip" type="int" value="2" />
	<param name="enable_color_correct" type="bool" value="False" />
	<param name="cc_alpha" type="double" value="1" />
	<param name="cc_beta" type="double" value="0" />
	<param name="enable_sharpen" type="bool" value="False" />
	<param name="sharp_weight" type="double" value="0.5" />
	<param name="sharp_kernel" type="int" value="1" />
    </node>

</launch>
